body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 180px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
    padding: 0 5%;
    margin-top: 15px;
    border-radius: 15px;
  position: relative;
  padding: 60px 80px;
  background: linear-gradient(
      to right,
      #ffffff 0%,      /* keep pure white in the center */
      #f0fcfe 40%,     /* very light cyan */
      #d2f6fc 80%,     /* medium cyan */
      #aee7f4 100%     /* darker cyan at far right */
  );
}

.left h1 {
    font-size: 3.5rem;
    font-weight: 900;
    color: #0046b8;
    line-height: 1.2;
}

.contact {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 15px;
}

.contact a {
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact a:hover {
    color: #0046b8;
}

.right {
    width: 60%;
    position: relative;
}

.right img {
    margin-left: 20px;
    width: 100%;
    border-radius: 15px;
}


.contact-container {
    max-width: 650px;
    margin: 20px auto;
    padding: 40px;
    background: #f8f8f8d2;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 5px;
    color: #333;
    font-weight: 700;
    letter-spacing: 1px;
}

.alert-success-box {
    background: #d4edda;
    color: #155724;
    padding: 12px 18px;
    border-radius: 8px;
    margin-bottom: 5px;
    border-left: 5px solid #28a745;
    font-size: 0.95rem;
}

.contact-form .form-group {
    margin-bottom: 10px;
}

.form-label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #444;
    font-size: 0.95rem;
}

.form-input {
    width: 95%;
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.95rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-input-service {
    width: 100%;
    padding: 12px 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 0.95rem;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.form-input:focus {
    border-color: #6c63ff;
    box-shadow: 0 0 6px rgba(108, 99, 255, 0.4);
    outline: none;
}

textarea.form-input {
    resize: none;
    min-height: 50px;
}

.btn-submit {
    display: block;
    width: 100%;
    padding: 14px;
    background: #6c63ff;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s;
}

.btn-submit:hover {
    background: #5848e3;
    transform: translateY(-2px);
}
